spring:
  application:
    name: hospital
  datasource:
    url: jdbc:mysql://localhost:3306/hospital
    username: postgres
    password: 123456789
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8080            
