spring:
  application:
    name: hospital

  datasource:
    url: jdbc:postgresql://localhost:5432/hospital
    username: postgres
    password: 123456789
    driver-class-name: org.postgresql.Driver


  jwt:
    secret-key: "CFlrMMoGpaR8qKtYTLvrHoRRhO583ZZwhrbr4gB7Bds="
    expiration-time: 3600000

  jpa:
    hibernate:
      ddl-auto: update
      
    show-sql: true
    
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true 

  logging:
    level:
      root: debug
      org.hibernate.SQL: debug
      org.hibernate.type.descriptor.sql: trace 

server:
  port: 8080