  spring:
    application:
      name: hospital

    datasource:
      url: jdbc:postgresql://localhost:5432/hospital

      username: postgres
      password: 123456789

      driver-class-name: org.postgresql.Driver
    security:

    jwt:
      secret-key: "CFlrMMoGpaR8qKtYTLvrHoRRhO583ZZwhrbr4gB7Bds="
      expiration-time: 3600000

    jpa:
      hibernate:
        ddl-auto: update

      show-sql: true
    logging:
      level:
        root: debug

        properties:
          hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            format_sql: true

  server:
    port: 8080
