spring:
  application:
    name: hospital
    
  datasource:
    url: jdbc:postgresql://localhost:5432/hospital 
    username: postgres
    password: 123456789
    
    driver-class-name: org.postgresql.Driver 

  jpa:
    hibernate:
      ddl-auto: update 
      
    show-sql: true
    
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect 
        format_sql: true

server:
  port: 8080 